{% extends 'base.html' %}

{% block title %}
    Create new book
{% endblock %}

{% block content %}
    <h1>Create new book</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=50) }}
            {% for error in form.title.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}

        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=50) }}
            {% for error in form.author.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}