<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books shelf - {% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <strong>Books shelf</strong>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url_for('index') }}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url_for('list_books') }}">Books</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url_for('create_book') }}">Add book</a><br><br>
        <form method="get" action="{{ url_for('search_book') }}">
            <input placeholder="Search" name="val">
            <button type="submit">Search</button>
        </form>

    </div>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>

